{% extends 'cashflow/_base.html' %}

{% block title %}Главная{% endblock %}

{% block page_title %}Движения денежных средств{% endblock %}

{% block content %}
    <h3>Фильтр движений</h3>

    <form id="form-filter-list-flow" method="GET" class="form-inline">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{{ filter_form.start_date.label_tag }}</th>
                        <th>{{ filter_form.end_date.label_tag }}</th>
                        <th>{{ filter_form.typeflow.label_tag }}</th>
                        <th>{{ filter_form.category.label_tag }}</th>
                        <th>{{ filter_form.subcategory.label_tag }}</th>
                        <th>{{ filter_form.status.label_tag }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ filter_form.start_date }}</td>
                        <td>{{ filter_form.end_date }}</td>
                        <td>{{ filter_form.typeflow }}</td>
                        <td>{{ filter_form.category }}</td>
                        <td>{{ filter_form.subcategory }}</td>
                        <td>{{ filter_form.status }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button type="submit" class="btn btn-primary">Фильтровать</button>
        <a href="{% url 'cashflow:flow-list' %}" class="btn btn-secondary ml-2">Отменить все фильтры</a>
    </form>

    <br>
    <hr>

    <h3>Список транзакций</h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Дата</th>
                    <th>Сумма</th>
                    <th>Тип</th>
                    <th>Категория</th>
                    <th>Подкатегория</th>
                    <th>Статус</th>
                    <th>Комментарий</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for flow in object_list %}
                    <tr>
                        <td><a href="{% url 'cashflow:flow-update' flow.pk %}" class="btn btn-sm btn-link text-primary" title="Редактировать">✎ </a></td>
                        <td>{{ flow.created_at|date:"d.m.Y" }}</td>
                        <td>{{ flow.amount }} ₽</td>
                        <td>{{ flow.typeflow.name }}</td>
                        <td>{{ flow.category.name }}</td>
                        <td>{{ flow.subcategory.name }}</td>
                        <td>{{ flow.status.name }}</td>
                        <td>{{ flow.comment }}</td>

                        <td><a href="{% url 'cashflow:flow-delete' flow.pk %}" class="btn btn-sm btn-link text-primary" title="Удалить">🗑</a></td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3" class="text-center">Нет данных</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>



{% endblock %}
