{% extends 'cashflow/_base.html' %}

{% block title %}Главная{% endblock %}

{% block page_title %}Движения денежных средств{% endblock %}

{% block content %}
    <h3>Фильтр движений</h3>
    <hr>
    <form id="form-filter-list-flow" method="GET">
        {% csrf_token %}
        <!-- Начальные и конечные даты -->
        <div class="form-group">
            <label for="start_date">Начальная дата</label>
            <input type="date" id="start_date" name="start_date" class="form-control">
        </div>

        <div class="form-group">
            <label for="end_date">Конечная дата</label>
            <input type="date" id="end_date" name="end_date" class="form-control">
        </div>

        <!-- Тип операции -->
        <div class="form-group">
            <label for="typeflow">Тип</label>
            <select id="typeflow" name="typeflow" class="form-control">
                <option value="">Выберите тип</option>
                <!-- Заполнится через JavaScript -->
            </select>
        </div>

        <!-- Категория -->
        <div class="form-group">
            <label for="category">Категория</label>
            <select id="category" name="category" class="form-control" disabled>
                <option value="">Сначала выберите тип</option>
            </select>
        </div>

        <!-- Подкатегория -->
        <div class="form-group">
            <label for="subcategory">Подкатегория</label>
            <select id="subcategory" name="subcategory" class="form-control" disabled>
                <option value="">Сначала выберите категорию</option>
            </select>
        </div>

        <!-- Статус -->
        <div class="form-group">
            <label for="status">Статус</label>
            <select id="status" name="status" class="form-control">
                <option value="">Выберите статус</option>
                <!-- Заполнится через JavaScript -->
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Фильтровать</button>
    </form>

    <br>
    <hr>

    <h3>Список транзакций</h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Дата</th>
                    <th>Сумма</th>
                    <th>Тип</th>
                    <th>Категория</th>
                    <th>Подкатегория</th>
                    <th>Статус</th>
                    <th>Комментарий</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for flow in object_list %}
                    <tr>
                        <td><a href="{% url 'cashflow:updateflow' flow.pk %}" class="btn btn-sm btn-link text-primary" title="Редактировать">✎ </a></td>
                        <td>{{ flow.created_at|date:"d.m.Y" }}</td>
                        <td>{{ flow.amount }} ₽</td>
                        <td>{{ flow.typeflow.name }}</td>
                        <td>{{ flow.category.name }}</td>
                        <td>{{ flow.subcategory.name }}</td>
                        <td>{{ flow.status.name }}</td>
                        <td>{{ flow.comment }}</td>

                        <td><a href="{% url 'cashflow:deleteflow' flow.pk %}" class="btn btn-sm btn-link text-primary" title="Удалить">🗑</a></td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3" class="text-center">Нет данных</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>



{% endblock %}
