{% extends 'cashflow/_base.html' %}
{% block content %}
<form method="post">
    {% csrf_token %}
    {% if related_objects %}
        <p>Невозможно удалить статус {{ statusflow.name }}. Имеются связанные записи движения средств:</p>
        {% for cashflow in related_objects %}
            <p>{{ cashflow.amount }} ₽, {{ cashflow.created_at }}</p>
        {% endfor %}
    {% else %}
        <p>Удалить статус {{ statusflow.name }}?</p>
        <button type="submit" class="btn btn-danger">Удалить</button>
    {% endif %}
    <a href="{{ view.success_url }}" class="btn btn-secondary">Отмена</a>
</form>
{% endblock content %}
